.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.m-0 {
  margin: 0px
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mb-0 {
  margin-bottom: 0px
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-12 {
  margin-bottom: 3rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.ml-4 {
  margin-left: 1rem
}

.mt-0 {
  margin-top: 0px
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-\[10\%\] {
  margin-top: 10%
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-0 {
  height: 0px
}

.h-0\.5 {
  height: 0.125rem
}

.h-10 {
  height: 2.5rem
}

.h-16 {
  height: 4rem
}

.h-4 {
  height: 1rem
}

.h-6 {
  height: 1.5rem
}

.h-8 {
  height: 2rem
}

.w-1 {
  width: 0.25rem
}

.w-1\/2 {
  width: 50%
}

.w-10 {
  width: 2.5rem
}

.w-4 {
  width: 1rem
}

.w-52 {
  width: 13rem
}

.w-6 {
  width: 1.5rem
}

.w-96 {
  width: 24rem
}

.w-auto {
  width: auto
}

.w-full {
  width: 100%
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.self-stretch {
  align-self: stretch
}

.overflow-hidden {
  overflow: hidden
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-l-md {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-l {
  border-left-width: 1px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-lightgrayLight {
  --tw-border-opacity: 1;
  border-color: rgb(250 250 250 / var(--tw-border-opacity))
}

.border-opacity-20 {
  --tw-border-opacity: 0.2
}

.bg-\[\#e0e2e5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(224 226 229 / var(--tw-bg-opacity))
}

.bg-blueAccent {
  --tw-bg-opacity: 1;
  background-color: rgb(56 130 214 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-lightgrayNeutral {
  --tw-bg-opacity: 1;
  background-color: rgb(246 247 249 / var(--tw-bg-opacity))
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-opacity-25 {
  --tw-bg-opacity: 0.25
}

.p-0 {
  padding: 0px
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.opacity-80 {
  opacity: 0.8
}

.opacity-95 {
  opacity: 0.95
}

@media print {
  .print\:hidden {
    display: none
  }
}

@media (min-width: 1024px) {
  .lg\:flex {
    display: flex
  }
}
