.m-0 {
  margin: 0px
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mb-0 {
  margin-bottom: 0px
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-12 {
  margin-bottom: 3rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-8 {
  margin-bottom: 2rem
}

.ml-2 {
  margin-left: 0.5rem
}

.ml-4 {
  margin-left: 1rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mr-4 {
  margin-right: 1rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-\[10\%\] {
  margin-top: 10%
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.min-h-full {
  min-height: 100%
}

.w-1\/3 {
  width: 33.333333%
}

.w-48 {
  width: 12rem
}

.w-52 {
  width: 13rem
}

.w-96 {
  width: 24rem
}

.w-auto {
  width: auto
}

.w-full {
  width: 100%
}

.max-w-md {
  max-width: 28rem
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-l {
  border-left-width: 1px
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-0 {
  padding: 0px
}

.p-1 {
  padding: 0.25rem
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pb-12 {
  padding-bottom: 3rem
}

.pl-4 {
  padding-left: 1rem
}

.pt-4 {
  padding-top: 1rem
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity))
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.opacity-80 {
  opacity: 0.8
}

.opacity-95 {
  opacity: 0.95
}
