.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-\[10\%\] {
  margin-top: 10%
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-screen {
  height: 100vh
}

.w-full {
  width: 100%
}

.flex-grow {
  flex-grow: 1
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.rounded-xl {
  border-radius: 0.75rem
}

.border {
  border-width: 1px
}

.border-l {
  border-left-width: 1px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-opacity-20 {
  --tw-border-opacity: 0.2
}

.bg-blueAccent {
  --tw-bg-opacity: 1;
  background-color: rgb(56 130 214 / var(--tw-bg-opacity))
}

.bg-lightgrayNeutral {
  --tw-bg-opacity: 1;
  background-color: rgb(246 247 249 / var(--tw-bg-opacity))
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.normal-case {
  text-transform: none
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.decoration-blueAccent {
  text-decoration-color: #3882d6
}

.opacity-80 {
  opacity: 0.8
}

.opacity-95 {
  opacity: 0.95
}

.hover\:border-opacity-40:hover {
  --tw-border-opacity: 0.4
}

.hover\:opacity-70:hover {
  opacity: 0.7
}

@media print {
  .print\:hidden {
    display: none
  }
}

@media (min-width: 640px) {
  .sm\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem
  }
}

@media (min-width: 768px) {
  .md\:mb-12 {
    margin-bottom: 3rem
  }

  .md\:flex {
    display: flex
  }

  .md\:hidden {
    display: none
  }

  .md\:w-96 {
    width: 24rem
  }

  .md\:w-auto {
    width: auto
  }

  .md\:justify-center {
    justify-content: center
  }

  .md\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px
  }
}
